{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "umd"
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}
